PUBLIC_API_URL=https://api.furrymod.tutel.page
PUBLIC_STUDIO_URL=https://studio.furrymod.tutel.page
PUBLIC_MAX_UPLOAD_SIZE=32 # in megabytes
PUBLIC_CAPTCHA_ENABLED=true # If this is false, it must also be false on API to function correctly.